.displayteam{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  text-align: center;
}

.active{
  margin: 1px;
  border-style:solid;
  border-color: burlywood;
  color: burlywood;
}

.listU {
  list-style-type: none;
  margin: 0;
  margin-top: 0ch;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.listl {
  float: left;
}

.listlA {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.listl:hover {
  background-color: #111;
}

.page{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  /* justify-items: center; */
  align-content: center;
  text-align: center;
  width: 100%;
  background: linear-gradient(hsla(240, 6%, 72%, 0.747), rgba(101, 114, 128)), url("PremierLeague2006.jpg"); 
    background-color: rgb(0,0,0); /* Fallback color */
    background-repeat:no-repeat;
    background-attachment:fixed;  
    background-size:cover;
}
.teamName{
  font-family: 'Times New Roman', Times, serif;
  font-weight:bold;
}

.imgS{
  width: 10rem;
}

.buttonDes{
  border-radius: 28px;
  padding: 10px 15px 10px 15px;
  font-family: 'Times New Roman', Times, serif;
  background:#2980b9;
  justify-self: center;
  align-self: center;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.buttonDes:hover {
  background: #3498db;
}
.divCard{
  padding: 3rem;
  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.divCard:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.imgOpt{
  width: 100%;
  height: 20rem;
}

.stats{
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
}

.textLeft{
  text-align: left;
}

.info{
  font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width: 576px){
  .displayteam{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 768px){
  .displayteam{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    text-align: center;
  }
}